[user]
  name  = Nikita Madin
  email = nikita.madin@gmail.com

[color]
  ui = auto

[color "diff"]
  meta = white bold
  frag = cyan bold
  old = red bold
  new = green bold

[core]
  editor = vim
  excludesfile = ~/.gitignore
  attributesfile = ~/.gitattributes
  ignorecase = false

[alias]
  aa = "!git add --all && git st"
  br = branch
  cm = commit -m
  co = checkout
  st = status --short --branch
  git = !git
  lg = log --pretty=format:'%Cred%h%Creset%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)%an%Creset' --abbrev-commit
  ps = push
  pl = pull

[push]
  default = current
